.row {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    width: 90%;
}

.row * {
    margin-left: 1px;
    font-size: 10pt;
}

.container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 0.5em;
    margin-bottom: 1px;
}

.headers * {
    width: 15%;
    display: inline-block;
    text-align: center;
}

.headers {
    width: 90%;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

.headersWrapper {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.time, .windSpeed, .temp, .weather {
    width: 20%;
    display: inline-block;
}

.good {
    color: green
}

.moderate {
    color: coral
}

.poor {
    color: red
}

.good, .moderate, .poor {
    vertical-align: middle;
}