/* This ensures that there is a grey line for each row and
that it doesn't take up the fill width of the screen */
.row {
    border-bottom: 1px solid #ccc;
    width: 90%;
}

/* This ensures that each value in a row has some space on the left */
.row * {
    margin-left: 0.5em;
}

/* We wrap the table in containerWrapper so that there is no overflow
which shown by display: flex and overflow: auto */
#containerWrapper {
    display: flex;
    flex: 1;
    overflow: auto;
}

/* This holds the table and ensures that the table is in the center and
that they are on top of each other rather tahn side by side. It also adds a gap 
to the top and a larger one at the bottom */
#container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 1px;
    min-height: fit-content;
    margin-bottom: 6px;
}

/* This ensures that the day and temp are all uppercase, with a font-size of 10pt 
and a margin of 10px */
.day, .temp {
    text-transform: uppercase;
    font-size: 10pt;
    margin: 10px;
    font-weight: bolder;
}

/* Ensures that day takes up 40% of the row and that it is inline-block */
.day {
    width: 40%;
    display: inline-block;
}

.temp {
    display: inline-block;
}

/* Ensures that icon is to the right of thr row and adds space to the top so that
it is in line with the other data */
.icon {
    float: right;
    max-width: 30px;
    max-height: 30px;
    vertical-align: middle;
    margin-top: 10px;
}

/* If orientation is in landscape it decreases the padding
so that there is no overflow */
@media screen and (height: 414px) and (width: 736px) {
    .row {
        padding: 6px
    }
}

