@media screen and (height: 414px) and (width: 736px) {
    #rain, #cloudy, #snow, #sunny, #thunder {
        display: none;
    }
}

#search {
    float: right;
    color: white;
    margin: 10px;
}
#location {
    float: left;
    color: white;
    margin: 10px;
}
#rain {
    background-image: url('./assets/rain.jpg');
    padding: 10px;
}

#cloudy {
    background-image: url('./assets/cloudy.jpg');
    padding: 10px;
}
#snow {
    background-image: url('./assets/snow.jpg');
    padding: 10px;
}

#sunny {
    background-image: url('./assets/sunny.jpg');
    padding: 10px;
}

#thunder {
    background-image: url('./assets/thunder.jpg');
    padding: 10px;
}

#headerInfo {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

#weatherText {
    font-weight: lighter;
    color: white;
    font-size: 30pt;
    margin-bottom: -14px;
} 

#cityText {
    font-size: 20pt;
    color: white;
    margin-bottom: -5px;
}

#date {
    color: white;
    font-size: 12pt;
    opacity: 90%;
}

#temp {
    color:white;
    margin-top: 0.25em;
    font-weight: bolder;
    font-size: 48pt;
    padding-bottom: 5px;
}

#weather {
    text-transform: uppercase;
    font-size: 20pt;
    font-weight: bold;
    color: white;
    text-align: center;
    border-top: 2px dashed white;
}

#windSpeed, #sunset, #sunrise {
    font-size: 12pt;
    text-transform: uppercase;
    font-weight: bold;
    color:white;
}

#sunset {
    margin-top: -8px
}

#safety {
    color: white;
    font-weight: bolder;
    margin-top: 10px;
    font-size: 14pt;
    text-align: center;
    width: 100%;
    display: inline;
}

#poorScore {
    color: red;
}

#poor {
    color: red;
    padding-left: 2em;
}

#moderateScore {
    color: coral;
}

#moderate {
    padding-left: 2em;
    color: coral;
}

#goodScore {
    color: green;
}

#good {
    padding-left: 2em;
    color: green;
}

#poor, #moderate, #good {
    font-size: 150%;
}

#safetyAdvice {
    font-size: 7pt;
    width: 100%;
    font-weight: bolder;
    text-align: center;
}

.iconRed, .iconCoral, .iconGreen {
    position: absolute
}

.iconRed {
    color: red;
}

.iconCoral {
    color: coral;
}

.iconGreen {
    color: green
}