.container {
    background-color: #0182F2;
    overflow: auto;
}

.container * {
    padding: 15px;
    display: inline-block;
    text-align: center;
    width: 45%;
    text-transform: uppercase;
    color: white;
}

