.container {
    background-color: #0182F2;
    /*position:fixed;*/
    left:0;
    bottom:0;
    right:0;
}

.container * {
    padding: 1em;
    display: inline-block;
    text-align: center;
    width: 50%;
    border-right: 1px solid white;
    text-transform: uppercase;
    color: white;
}

